---
interface Props {
  imageUrl: string;
  alt: string;
  link: string;
  size: "12" | "14" | "16" | "18";
}

const { imageUrl, alt, size = "12", link } = Astro.props;
---

<a href={link} target="_blank" class="inline-block pr-2">
  <img
    class=`w-${size} h-${size} rounded-full shadow-md border-2 border-slate-400 hover:scale-125 transition-transform`
    src={imageUrl}
    alt={alt}
  />
</a>
